{
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "rules": {
    "eqeqeq": [
      "error",
      "always"
    ],
    "no-var": "error",
    "prefer-const": "error",
    "no-console": "off"
  }
}
